.card-list {
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.75fr 0.75fr;
    grid-gap: 10px;
    gap: 2;
    justify-items: center;
    font-family: Gill Sans, sans-serif;
}

.card {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    height: 450px;
    width: 250px;
}

.card--title {
    margin-bottom: 0.5rem;
    font-size: 14pt;
    font-weight: normal ;
    height: 65px;
}

.card--image {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    max-width: 370px;
}

.remove-icon {
    color: red;
}

.rating-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    position: fixed;
    left: 25%;
    top: 30%;
    width: 50%;
    border: 2.5px solid #1c3738f2;
    border-radius: 0.5em;
    box-shadow: 4px -3px 5px #607d8b;
    background-color: #c1d4c7;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    color: #132c2d;
    flex-wrap: nowrap;
}

.btn {
    box-sizing: content-box;
    margin: 10px 2px 10px ;
    font-size: 10pt;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
   
}

.modal-title.h4 {
    text-align: center;
    text-decoration: underline;
    font-size: larger;
}

.modal-btn-close {
        width: 50px;
        height: 25px;
    }

.modal--image {
    max-height: 400px;
    max-width: 400px;
    float: left;
    margin: 30px 20px;
}

.modal-content {
    display: inline;
  
}

h3.modal--title {
    display: -webkit-inline-box;
    max-width: 400px;
}

    
button.btn-close {
    position: absolute;
    right: 3px;
    width: 10px;
    height: 15px;
}

button.btn.btn-secondary {
    position: absolute;
    right: 10px;
    width: 35px;
    top: 320px;
    height: 20px;
    color: #f4fff8;
    background: darkslategray;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover  {
	opacity: 1;
}
