.home-container {
    background-image:
        url("../images/WFBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-overlaid img {
    min-height: 150px;
    margin-bottom: 225px;
}