.Wallpaper {
    background-image:
        url("../images/WFBackground.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -50px;
    font-size: 50px;
    opacity: 80%;

    background-repeat: no-repeat;
}