.results-title {
    font-family: Gill Sans, sans-serif;
    font-weight: normal;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}

.card--title {
    margin-bottom: 0.2rem;
    font-size: 14pt;
    font-weight: normal;
    height: 35px;
}

.card-list {
    background-color: #1C3738;
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.75fr 0.75fr;
    grid-gap: 10px;
    gap: 2;
    justify-items: center;
}

.center-max-size {
    background-color: #1C3738;
    max-width: 1020px;
    margin: 0 auto;
    margin-top: -40px;
}

body {
    font-family: Gill Sans, sans-serif;
    background-color: #1C3738;
    color: #ffffff;
}

.btn {
    box-sizing: content-box;
    margin: 10px 2px 10px ;
    font-size: 10pt;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
   
}

.rating {
    font-size: 16pt;
}

