.results-title {
    font-family: Gill Sans, sans-serif;
    font-weight: normal;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}

.card--title {
    margin-bottom: 0.2rem;
    font-size: 14pt;
    font-weight: normal;
    height: 35px;
}

.card-list {
    background-color: #1C3738;
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.75fr 0.75fr;
    grid-gap: 10px;
    gap: 2;
    justify-items: center;
}

.center-max-size {
    background-color: #1C3738;
    max-width: 1020px;
    margin: 0 auto;
    margin-top: -40px;
}

body {
    font-family: Gill Sans, sans-serif;
    background-color: #1C3738;
    color: #ffffff;
}

.btn {
    box-sizing: content-box;
    margin: 10px 2px 10px ;
    font-size: 10pt;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
   
}

.rating {
    font-size: 16pt;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: top;
	background: rgb(14 51 47 / 0%);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 15px;
	padding: 15px;
	text-align: center;
}
