.App {
  background-color: #1C3738;
  color: white;
  min-height: 100vh;
  width: 100vw;
}

.App p {
    font-family: Gill Sans, sans-serif;
}

body * {
  font-family: Gill Sans, sans-serif;
}

.App input, .App button  {
  border: none;
  border-radius: 8px;
  height: 35px;
}

.App input::placeholder{
 font-size: 10px;
}

.App input[type=submit], .App button {
  color: #f4fff8ff;
  background-color: #00A167;
}

.App input[type=submit]:hover, .App button:Hover {
  background-color: #1C3738;
  border: 1px solid #f4fff8ff;
}