
/* Example to have an app wide colour for P items
.App p{
    color: red
}
*/

body * {
  font-family: Gill Sans, sans-serif;
}

.App input, .App button  {
  border: none;
  border-radius: 8px;
  height: 35px;
}

.App input::placeholder{
 font-size: 10px;
}

.App input[type=submit], .App button {
  background-color: #00A167;
}
